      <div class="flex flex-column">
        <a class="log-sign-btn accent-btn2 btn btn-primary" href="/login">Login</a>
        <a class="log-sign-btn accent-btn2 btn btn-primary" href="/signup">Signup</a>
      </div>